<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form action="#" th:action="@{/processinstructors}" th:object="${instructer}" method="post">

    <input type="hidden" th:field="*{id}"/>

    first_name: <input type="text" th:field="*{first_name}"/>
    <span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></span><br/>

    last_name: <input type="text" th:field="*{last_name}"/>
    <span th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></span><br/>

    Contactnumber: <input type="text" th:field="*{Contactnumber}"/>
    <span th:if="${#fields.hasErrors('Contactnumber')}" th:errors="*{Contactnumber}"></span><br/>

    email: <input type="text" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>



    <input type="submit" value="submit"/>

</form>
</body>
</html>