<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Courses</title>
</head>
<body>

<a href="addstudents">Add Students</a><br/>
<a href="/">Index Page</a><br/>

<table>
    <tr>
        <th>First_name</th>
        <th>Last_name</th>
        <th>Contactnumber</th>
        <th>Email</th>
        <!--<th>Actions</th>-->
    </tr>
    <tr th:each="studant:${Cstudents}">
        <td th:text="${studant.First_name}"></td>
        <td th:text="${studant.Last_name}"></td>
        <td th:text="${studant.Contactnumber}"></td>
        <td th:text="${studant.Email}"></td>

        <!--<td>-->
        <!--<a th:href="@{/update/{id}(id=${cours.id})}">Update Courses</a>-->
        <!--<a th:href="@{/delete/{id}(id=${cours.id})}">Delete Courses</a>-->
        <!--</td>-->
    </tr>
</table>
</body>
</html>